<!DOCTYPE html>
<html>
  <head>
    <title>PR</title>

    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    >

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "home", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "login", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <nav class="navbar navbar-expand-lg navbar-rotary">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Sobre-nós</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>
        <a class="btn btn-warning" href="sign_up">Cadastre-se</button>
        <a class="btn btn-light" href="login">Entrar</a>
      </div>
    </nav>
  </head>

  <body>
    <%= yield %>
  </body>

  <footer class="site-footer sticky-bottom">
    <div class="layout-container -padding-reduced u-text-centered u-container">
      <ul class="site-footer-social">
        <li>
          <a href="https://www.twitter.com/rotary">
            <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/user/RotaryInternational">
            <i class="fa-brands fa-youtube fa-2x" style="color: #c91818;"></i>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/rotary">
            <i class="fa-brands fa-facebook-f fa-2x"></i>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/rotaryinternational/">
            <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/company/rotary-international/">
            <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
    <p class="d-flex justify-content-center site-footer-legal">
      © 2022 Rotary International. Todos os direitos reservados.
      <a href="https://www.rotary.org/privacy">Política de privacidade</a>
      <a href="https://www.rotary.org/tos">Termos de uso</a>
    </p>
  </footer>
</html>